body {
	color: #FFFFFF;
	font-family: Verdana,  Arial,  Helvetica;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: medium;
	background-color: #transparent;
	background-image: url(img/bg.gif?18e39639-d800-46d1-b06f-b7ce369541ce);
	background-position: 0 10;
	background-repeat: repeat;
	background-attachment: scroll;
}
div#outer {
	min-width: 900PX;
	width: 950px;
	margin: 0PX auto;
	border: 0PX;
}
div.closed-margin {
	padding: 15PX 0PX 10PX 0PX;
	margin: 0PX auto;
	width: auto;
}
div.closed-box {
	border-width: 3PX;
	border-style: solid;
	border-color: #FFFDFD;
	padding: 10PX 21PX 10PX 21PX;
	margin: 0PX 0PX 0PX 0PX;
	background-color: #FFFFFF;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat-x;
	background-attachment: scroll;
}
#header {
	position: relative;
	margin: 0PX 0PX 0PX 0PX;
	min-height: 50PX;
	color: #EBE8C6;
	background-color: #transparent;
	background-position: left bottom;
	background-repeat: repeat-x;
	background-attachment: scroll;
	height: 120PX;
	padding: 0PX 0PX 0PX 0PX;
	border-width: 0PX;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	background-image: url(img/bg_header.gif?ffa28ee6-de6c-47f1-bd4f-a742ede0b232);
	border-color: #FFFFFF;
	border-style: solid;
	z-index: 10;
	border: none;
}
a#logo, a#logo:hover {
	position: absolute;
	text-decoration: none;
	font-size: 112PX;
	color: #4f4439;
	letter-spacing: 0PX;
	font-weight: normal;
	font-family: AlexandraScriptRegular;
	font-style: normal;
	top: 10PX;
	left: 320PX;
}
div.header-search {
	position: absolute;
	top: 5PX;
	right: 10PX;
}
div.header-search a {
	font-size: 12PX;
	color: #eecccc;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	text-decoration: underline;
}
div.header-search a:hover {
	text-decoration: none;
}
table.table-content {
	width: 100%;
}
table.table-content td {
	vertical-align: top;
}
table.table-content td.column {
	width: 250PX;
}
table.table-content td.left {
	padding-right: 30PX;
}
table.table-content td.right {
	padding-left: 30PX;
}
#footer {
	font-size: 14PX;
	width: 100%;
	margin: 0PX auto;
	color: #232336;
	min-height: 30PX;
}
div.footer {
	padding: 15PX 10PX 5PX 10PX;
	background-color: #transparent;
	background-image: url(img/bg_footer.gif?a6e99253-dc1e-41b3-b722-8f21d86354c7);
	background-position: left top;
	background-repeat: repeat-x;
	background-attachment: scroll;
	margin: 10PX 0PX 0PX 0PX;
	border-width: 0PX;
	border-color: #000000;
	height: 20PX;
	color: #4F4439;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11PX;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	border-style: solid;
	border: none;
}
div.footer a {
	color: #4F4439;
}
.main-area {
	padding: 0PX 0PX 0PX 0PX;
	margin: 30PX 0PX 0PX 0PX;
	font-size: 14PX;
	color: #8B8F88;
	position: relative;
	background-color: #E9EDFE;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat-x;
	background-attachment: scroll;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	background: none;
}
.main-area a {
	color: #81888F;
	text-decoration: underline;
}
.main-area a:hover {
	text-decoration: none;
}
div.panel {
	background-color: #A99675;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat-x;
	background-attachment: scroll;
	margin: 0PX 0PX 30PX 0PX;
	padding: 0PX 0PX 0PX 0PX;
	border-width: 0PX;
	border-color: #231F18;
	border-style: solid;
	border: none;
	background: none;
}
div.panel h3.title, div.panel h1.title {
	padding: 0PX 0PX 0PX 0PX;
	background-color: #FFFFFF;
	font-weight: bold;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat-x;
	background-attachment: scroll;
	margin: 0PX 0PX 0PX 0PX;
	border-width: 0PX;
	border-color: #000000;
	border-style: solid;
	border: none;
	background: none;
}
div.panel h3.title a, div.panel h3.title a:hover, div.panel h1.title {
	font-size: 62PX;
	font-weight: normal;
	text-decoration: none;
	color: #4F4439;
	font-family: AlexandraScriptRegular;
	font-style: normal;
}
div.panel div.panel-body {
	margin-top: 1PX;
	padding: 0PX 0PX 0PX 0PX;
	color: #585048;
	background-color: #464646;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat-x;
	background-attachment: scroll;
	margin: 10PX 0PX 0PX 0PX;
	border-width: 0PX;
	border-color: #FFFFFF;
	border-style: solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12PX;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	border: none;
	background: none;
}
div.panel div.panel-body a {
	color: #BE7132;
}
div.panel p.blog-title a {
	color: #50453A;
	font-size: 115%;
	font-weight: bold;
	text-decoration: underline;
}
div.panel p.blog-title a:hover {
	text-decoration: none;
}
div.blog-preview {
	padding: 0PX 0PX 0PX 0PX;
}
div.blog-preview p.blog-title {
	margin: 3PX 0PX 5PX 0PX;
}
div.blog-preview p.blog-text {
	margin: 5PX 0PX 5PX 0PX;
}
div.blog-preview p.blog-info {
	font-size: 80%;
	margin: 5PX 0PX 5PX 0PX;
}
table.table-photos {
	width: 100%;
	background: #eee;
}
table.table-photos td {
	padding: 10PX;
	vertical-align: middle;
}
div.mbox {
	width: 81PX;
	height: 81PX;
}
div.mbox-photos {
	margin: 0PX 20PX 20PX 0PX;
	width: 83PX;
	overflow: hidden;
	float: left;
}
div.mbox-photos p {
	margin-top: 3PX;
	overflow: hidden;
}
a.mphoto {
	padding: 3PX 3PX 3PX 3PX;
	width: 75PX;
	height: 75PX;
}
a.box {
	border: 1PX solid #AAA;
	display: block;
	cursor: pointer;
	background: #fff;
}
a.box:hover {
	border-color: #3399CC;
	background: #fff;
}
.paginator {
	margin: 10PX 5PX;
	font-size: 80%;
}
.paginator .status {
	margin: .5EM 0 1EM;
}
.paginator a.page, .pageList .current {
	padding: 2PX 6PX;
	border: 1PX solid #CCD;
	background-color: #F9F9F2;
	text-decoration: none;
}
.paginator .break {
	border: none;
	background: none;
}
.paginator a.end {
	border-width: 2PX;
}
.paginator .current {
	border-color: #999;
	font-weight: bold;
	font-size: 100%;
}
.paginator a:hover {
	border-color: #777;
	text-decoration: none;
}
.paginator a.link {
	font-weight: bold;
}
.paginator a.link:hover {
}
.paginator .disabled {
	color: #CCC;
}
div.panel div.panel-body p.tags a {
	text-decoration: none;
	text-transform: lowercase;
	margin: 0PX 8PX 0PX 0PX;
}
div.panel div.panel-body p.tags a.selected {
	padding: 1PX 3PX 1PX 3PX;
	background-color: #3A341F;
	color: #FFCDCD;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat-x;
	background-attachment: scroll;
}
a.t0 {
	font-size: 90%;
	line-height: 100%;
}
a.t1 {
	font-size: 110%;
	line-height: 120%;
}
a.t2 {
	font-size: 130%;
	line-height: 130%;
}
a.t3 {
	font-size: 130%;
	font-weight: bold;
	line-height: 140%;
}
a.t4 {
	font-size: 150%;
	line-height: 140%;
}
a.t5 {
	font-size: 160%;
	font-weight: bold;
	line-height: 140%;
}
a.t6 {
	font-size: 170%;
	line-height: 140%;
}
a.t7 {
	font-size: 180%;
	font-weight: bold;
	line-height: 150%;
}
a.t8 {
	font-size: 190%;
	line-height: 150%;
}
a.t9 {
	font-size: 210%;
	font-weight: bold;
	line-height: 150%;
}
a.t10 {
	font-size: 240%;
	line-height: 150%;
}
table.order-form-table {
	width: 100%;
}
table.order-form-table td {
	vertical-align: top;
	padding: 3PX 10PX 3PX 0PX;
}
table.form-table {
	width: 100%;
	margin: 10PX 0PX 10PX 0PX;
}
table.form-table td {
	vertical-align: top;
	padding: 3PX 10PX 3PX 0PX;
}
table.shopping-cart {
	width: 100%;
}
table.shopping-cart td {
	vertical-align: middle;
	padding: 5PX 10PX 5PX 10PX;
}
table.shopping-cart th {
	vertical-align: middle;
	padding: 5PX 10PX 5PX 10PX;
	font-size: 90%;
	border-bottom: 1PX solid #777;
}
table.totals td {
	vertical-align: bottom;
	padding: 2PX 2PX 2PX 2PX;
	text-align: right;
}
p.error {
	font-weight: bold;
	color: #cc0000;
	margin: 5PX 0PX 10PX 0PX;
}
p.description {
	font-size: 80%;
}
div.user-greeting-container {
	position: absolute;
	width: 550PX;
	top: 0PX;
	right: 0PX;
}
div.user-greeting {
	margin: 2PX 0PX 2PX 0PX;
	padding: 8PX 170PX 8PX 10PX;
	background-color: #C1B7B3;
	color: #EAD3AB;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat-x;
	background-attachment: scroll;
	font-size: 12PX;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	border-width: 0PX;
	border-color: #6C6363;
	border-style: solid;
	font-weight: normal;
	text-decoration: none;
	background: none;
	border: none;
}
div.user-greeting a {
	color: #EAD3AB;
	text-decoration: underline;
}
div.user-greeting a:hover {
	text-decoration: none;
}


div.hmenu-container {
position: relative;
width: auto!important;
margin:auto;
}

ul.submenu {
background: #F3F3F3!important;
}

a#logo, body {
text-shadow: 1px 1px 1px #ffffff;
/*filter: dropshadow(color=#ffffff, offx=1, offy=1);*/
}

.page_tabs li {
text-transform: uppercase;
letter-spacing: 1px;
}

.page_tabs li.activelink {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}


.page_tabs li.activelink a {
text-shadow: -1px -1px 1px #4F4439;
filter: dropshadow(color=#4F4439, offx=-1, offy=-1);
}

ul li {
  background: url("http://design-restaurant2.ascont.ru/users/5647/photos/editor/marker.gif") no-repeat scroll 0 10px transparent;
    list-style: none outside none;
    margin: 0px 0px 0px 0px;
    padding: 5px 1px 5px 15px;
    
    
}


.categories-list .li-all-items {
display:none;
}

.top-level-categories li a {
text-decoration: none!important;
color: #4F4439;
font-size:12px;
}

ul.top-level-categories li {
margin-bottom: 0!important;
border-bottom: 1px dotted #4F4439;
}

.coin-slider { overflow: hidden; zoom: 1; position: relative; color: #B8C4CF; }
.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-buttons { font-size: 0px; padding: 10px; float: left; }
.cs-buttons a { margin-left: 5px; height: 10px; width: 10px; float: left; text-indent: -1000px; }
.cs-active { background-color: #B8C4CF; color: #FFFFFF; }

.cs-title { width: 195px; height: 210px; padding-left: 695px; font: 25px 'Times New Roman',Times,serif; color: #fff; z-index: 9999; }

.cs-prev, 
.cs-next { background-color: #000000; color: #fff; padding: 0px 10px; }

div#coin-slider {
margin-top: 0px;
margin-bottom: 30px;
border: 10px solid rgba(81, 81, 81, .3);
}

div#coin-slider a span {
font: 28px Trebuchet; color: #FFFFFF; z-index: 9999;
display:inline-block;
opacity: 1;
width: 200px;
}

div.tmenu {
	position: relative;
	margin: 0PX 0PX 0PX 0PX;
	padding: 5PX 10PX 8PX 10PX;
	z-index: 10;
	overflow: visible;
	background-color: #transparent;
	background-image: url(img/bgmenu.gif?0974035a-c61e-4bf4-8947-d0aa3e06a47e);
	background-position: left bottom;
	background-repeat: repeat-x;
	background-attachment: scroll;
	border-style: solid;
	border-width: 0PX;
	border-color: #000000;
	border: none;
}
div.hmenu-container {
	position: relative;
	display: table;
	width: 100%;
}
ul.page_tabs {
	min-height: 16PX;
	color: #fff;
}
ul.page_tabs li {
	float: left;
	list-style: none;
	padding: 0;
	position: relative;
}
.page_tabs li, #page_tabs li .sb-inner {
	background-color: #372F21;
	background-position: left top;
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-image: none;
	margin: 0PX 0PX 0PX 0PX;
	background: none;
}
.page_tabs li a {
	display: block;
	float: left;
	text-decoration: none;
	padding: 7PX 13PX 7PX 13PX;
	line-height: 17PX;
	color: #4F4439;
	font-weight: normal;
	font-size: 18PX;
	font-family: Impact,  Charcoal,  sans-serif;
	font-style: normal;
	border-width: 0px;
	border-color: #FFFFFF;
	border-style: solid;
	border: none;
}
.page_tabs li:hover, #page_tabs li:hover .sb-inner, .page_tabs li.hover, #page_tabs li.hover .sb-inner {
	background-color: #5F5B50;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat-x;
	background-attachment: scroll;
	background: none;
}
.page_tabs li:hover a, .page_tabs li.hover a {
	background: none;
	color: #72665b;
	font-weight: normal;
	font-size: 18PX;
	text-decoration: none;
	font-family: Impact,  Charcoal,  sans-serif;
	font-style: normal;
	border-width: 0px;
	border-color: #000000;
	border-style: solid;
	border: none;
}
.page_tabs li.activelink, #page_tabs li.activelink .sb-inner {
	background-color: #BF7233;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat-x;
	background-attachment: scroll;
}
.page_tabs li.activelink a, .page_tabs li.activelink a:hover {
	color: #FFFFFF;
	font-weight: normal;
	font-size: 18PX;
	text-decoration: none;
	font-family: Impact,  Charcoal,  sans-serif;
	font-style: normal;
	border-width: 0px;
	border-color: #FFFFFF;
	border-style: solid;
	border: none;
}
#page_tabs li .sb-border {
	background-color: #FFFFFF;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat-x;
	background-attachment: scroll;
}
#page_tabs li:hover .sb-border {
	background-color: #000001;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat-x;
	background-attachment: scroll;
}
#page_tabs li.activelink .sb-border, #page_tabs li.activelink:hover .sb-border {
	background-color: #FFFFFF;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat-x;
	background-attachment: scroll;
}
ul.submenu {
	clear: both;
	position: absolute;
	top: 100%;
	left: 0PX;
	width: 250PX;
}
ul.submenu li {
	clear: both;
	display: block;
	width: 250PX;
	list-style-type: none;
	margin: 0PX 0PX 0PX 0PX;
	padding: 0;
	position: relative;
	float: left;
	height: auto;
	margin-right: inherit;
	background-color: #transparent;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat-x;
	background-attachment: scroll;
}
ul.submenu li a, .page_tabs li:hover li a {
	clear: both;
	display: block;
	float: left;
	text-decoration: none;
	padding: 4PX 10PX 4PX 10PX;
	font-weight: normal;
	font-size: 18PX;
	border: 0;
	font-family: Impact,  Charcoal,  sans-serif;
	font-style: normal;
	color: #4F4439;
}
ul.submenu li:hover {
	background-color: #transparent;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat-x;
	background-attachment: scroll;
}
ul.submenu li a:hover {
	border: 0;
	font-family: Impact,  Charcoal,  sans-serif;
	font-size: 18PX;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color: #72665b;
}
