	 @font-face {
    font-family: "AlexandraScriptRegular";
    src: url("../fonts/AlexandraScriptRegular/AlexandraScriptRegular.eot");
    src: url("../fonts/AlexandraScriptRegular/AlexandraScriptRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AlexandraScriptRegular/AlexandraScriptRegular.woff") format("woff"),
    url("../fonts/AlexandraScriptRegular/AlexandraScriptRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
	}
		#header {
     font-family: "AlexandraScriptRegular",sans-serif;
    }

     @font-face {
         font-family: "FjallaOneRegular";
         src: url("../fonts/FjallaOneRegular/FjallaOneRegular.ttf");
         font-style: normal;
         font-weight: normal;
     }